certifi==2023.7.22
charset-normalizer==3.3.0
colorama==0.4.6
filelock==3.12.4
fsspec==2023.9.2
huggingface-hub==0.16.4
idna==3.4
Jinja2==3.1.2
MarkupSafe==2.1.3
mpmath==1.3.0
networkx==3.1
numpy==1.26.0
packaging==23.2
PyYAML==6.0.1
regex==2023.10.3
requests==2.31.0
safetensors==0.3.3
sentencepiece==0.1.99
sympy==1.12
tokenizers==0.14.0
tqdm==4.66.1
transformers==4.34.0
loguru==0.7.2
typing_extensions==4.8.0
urllib3==2.0.6
win32-setctime==1.1.0
kobert-tokenizer @ git+https://github.com/SKTBrain/KoBERT.git@47a69af87928fc24e20f571fe10c3cc9dd9af9a3#subdirectory=kobert_hf